<div class="container ac_b_wrapper">
    <% if (typeof(error) !== 'undefined' && error) { %>
    <div class="ac_callout ac_callout_danger">
        <p>出错：<%= error %></p>
    </div>
    <% } %>
    <div class="row">
        <div class="col-md-4">
            <h2>系统用户登录：</h2>
            <form role="form" action="/signin" method="post">
                <div class="form-group">
                    <label for="email" class="sr-only">邮箱</label>
                    <% if(typeof(email) !== 'undefined'){ %>
                    <input type="email" class="form-control" id="email" name="email" placeholder="邮箱地址" value="<%= email %>">
                    <% } else { %>
                    <input type="email" class="form-control" id="email" name="email" placeholder="邮箱地址">
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="pass" class="sr-only">密码</label>
                    <input type="password" class="form-control" id="pass" name="pass" placeholder="用户密码">
                </div>
                <div class="checkbox">
                    <label>
                        <% if(typeof(rememberme) !== 'undefined' && rememberme == true) { %>
                        <input type="checkbox" name="rememberme" checked>
                        <% } else { %>
                        <input type="checkbox" name="rememberme">
                        <% } %>
                        记住我
                    </label>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">登录</button>
            </form>
        </div>
    </div>
</div>

