<div class="ac_jumbotron ac_index_jumbotron">
    <div class="container">
        <h1><%= CurrentType.name %></h1>
        <p><%= CurrentType.description %></p>
    </div>
</div>
<div id="ac_index_content">
    <% if(Items === null || Items.length <= 0){ %>
    <div class="ac_sortItem">
        <div class="container">
        <p>当前留学类型下无分类信息，请先<a href="/backend/SortMgr/EditDetails/<%= CurrentType._id %>">添加</a>！</p>
        </div>
    </div>
    <% } else { %>
        <div class="ac_sortItem">
            <div class="container">
                <h2 style="margin-top: 0;">留学类型筛选类型：</h2>
                <div class="row">
                    <% Items.forEach(function(item){ %>
                    <div class="col-sm-4" style="margin-top: 10px;">
                        <section class="cell-row">
                            <section class="cell-row-col cell-row-description">
                                <%= item.name %>
                            </section>
                            <div class="cell-row-right-arrow">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </div>
                            <a href="/EduType/ItemOptions/<%= CurrentType._id %>/<%= item._id %>/" class="link-target"></a>
                        </section>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    <% } %>
</div>