<div id="ac_v_list_wrap">
    <div class="container">
        <div id="ac_v_breadcrumb">
            <p class="breadcrumb_tip">返回上级：<a href="/EduType/<%= EduTypeId %>"><span class="glyphicon glyphicon-arrow-left"></span> </a></p>
        </div>
        <div class="ac_v_list_body">
            <div class="row">
            <% if(Students.length <= 0){ %>
                <div class="ac_callout ac_callout_info">
                    <p>当前分类下没有所属学生！</p>
                </div>
            <% } %>
            <% Students.forEach(function(student){ %>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <% if(typeof(student.profile_image) === 'undefined' || student.profile_image === ''){ %>
                        <img src="/public/images/student_thumbnial_180.png" alt="<%= student.name %>">
                        <% }else{ %>
                        <img src="<%= student.profile_image %>" alt="<%= student.name %>">
                        <% } %>
                        <div class="caption">
                            <h3 style="margin-top: 0px;margin-bottom: 0px"><%= student.name %></h3>
                            <p style="margin-bottom:0px;max-height:20px;overflow:hidden;text-overflow:ellipsis"><%= student.remark %></p>
                            <p style="margin-bottom: 0">
                                <a href="/StudentInfo/CaseResume/<%= student._id %>" class="btn btn-primary btn-sm" role="button">查看案例</a>
                                <a href="/StudentInfo/CaseResume/<%= student._id %>/#EEssayList" class="btn btn-default btn-sm" role="button">文书列表</a>
                            </p>
                        </div>
                    </div>
                </div>
            <% }) %>
            </div>
        </div>
        <div class="container text-center">
            <ul class="pager" style="margin-top: 0; margin-bottom: 0">
                <% if(IsFirstPage){ %>
                <li class="disabled"><a>上一页</a></li>
                <% }else{ %>
                <li><a href="/EduType/Option/StudentList/<%= EduTypeId %>/<%= SortOptionId %>/<%= CurrentPage -1 %>">上一页</a></li>
                <% } %>

                <% if(IsLastPage){ %>
                <li class="disabled"><a>下一页</a></li>
                <% }else{ %>
                <li><a href="/EduType/Option/StudentList/<%= EduTypeId %>/<%= SortOptionId %>/<%= CurrentPage +1 %>">下一页</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</div>