<div id="ac_index_jumbotron">
    <div class="container">
        <h1>组件</h1>
        <p>无数可复用的组件，包括字体图标、下拉菜单、导航、警告框、弹出框等更多功能。</p>
    </div>
</div>
<div id="ac_index_content">
    <div class="ac_sortItem">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3>
                        毕业学校
                        <span>就是很多很多类型,怎么滴呀!</span>
                    </h3>
                </div>
                <div class="col-sm-9 row">
                    <div class="col-sm-6">2</div>
                    <div class="col-sm-6">4</div>
                    <div class="col-sm-6">2</div>
                    <div class="col-sm-6">4</div>
                    <div class="col-sm-6">2</div>
                    <div class="col-sm-6">4</div>
                    <div class="col-sm-6">2</div>
                    <div class="col-sm-6">4</div>
                </div>
            </div>
        </div>
    </div>
    <div class="ac_sortItem">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3>
                        毕业学校
                        <span>就是很多很多类型,怎么滴呀!</span>
                    </h3>
                </div>
                <div class="col-sm-9 row">
                    <div class="col-sm-6">2</div>
                    <div class="col-sm-6">4</div>
                    <div class="col-sm-6">2</div>
                    <div class="col-sm-6">4</div>
                    <div class="col-sm-6">2</div>
                    <div class="col-sm-6">4</div>
                    <div class="col-sm-6">2</div>
                    <div class="col-sm-6">4</div>
                </div>
            </div>
        </div>
    </div>
</div>