<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- meta -->
    <meta charset="utf-8"/>
    <meta name='description' content='<%= config.description %>'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <%
    var headers = config.site_headers || [];
    for (var i = 0, l = headers.length; i < l; i++) {
    %>
    <%- headers[i] %>
    <% } %>

    <% if (config.site_icon) { %>
    <link rel="icon" href="<%- config.site_icon %>" type="image/x-icon"/>
    <% } %>

    <% if (typeof(topic) !== 'undefined') { %>
    <title><%= topic.title %> - <%= config.name %></title>
    <% } else { %>
    <title><%= config.description %></title>
    <% } %>
    <meta content="_csrf" name="csrf-param">
    <meta content="<%= csrf %>" name="csrf-token">

    <!-- style -->
    <%- Loader('/public/stylesheets/index.min.css')
    .css('/public/bower_components/bootstrap/dist/css/bootstrap.css')
    .css('/public/stylesheets/common.css')
    .css('/public/stylesheets/custom_bootstrap.css')
    .css('/public/stylesheets/mod.css')
    .css('/public/stylesheets/responsive.css')
    .done(assets, config.site_static_host, config.mini_assets)
    %>

    <!-- js -->
    <%- Loader('/public/index.min.js')
    .js('/public/bower_components/jquery/dist/jquery.js')
    .js('/public/bower_components/bootstrap/dist/js/bootstrap.min.js')
    .js('/public/bower_components/headroom.js/dist/jQuery.headroom.js')
    .js('/public/bower_components/lodash/dist/lodash.underscore.min.js')
    .js('/public/javascripts/main.js')
    .done(assets, config.site_static_host, config.mini_assets)
    %>

</head>
<body>

<header id="ac_header" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".ac-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <%- config.site_logo || config.name %>
            </a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse ac-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <% if(typeof(isBack) !== 'undefined' && isBack) { %>
                    <li>
                        <a href="/backend/UserMgr/List">用户管理</a>
                    </li>
                    <li>
                        <a href="/backend/SortMgr/List">筛选管理</a>
                    </li>
                    <li>
                        <a href="/backend/StudentMgr/List">学生管理</a>
                    </li>
                <% } else if(EduTypes.length <= 0) { %>
                    <li>
                        无分类，请先<a href="/backend/SortMgr/New">添加</a>!
                    </li>
                <% } else { %>
                    <% EduTypes.forEach(function(type){ %>
                        <li>
                            <a href="/EduType/<%= type._id %>"><%= type.name %></a>
                        </li>
                    <% }) %>
                <% } %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">首页</a></li>
                <% if(typeof(current_user) !== 'undefined') { %>
                <li>
                    <form action="/signout" method="post">
                        <button type="submit" class="btn btn-info navbar-btn">登出</button>
                    </form>
                </li>
                <% } %>
                <li>&nbsp;&nbsp;<button class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-search"></span></button></li>
            </ul>
        </nav>
    </div>
    </nav>
</header>

<div id='main'>
    <%- body %>
</div>

<footer id="ac_footer">
    <div class="container">
        <p>Designed and built with all the lovely <a href="http://www.appedu.org" target="_blank">appers</a> .</p>
        <p>Maintained by <a href="https://github.com/SamHwang1990" target="_blank">sam</a></p>
        <p>本项目源码受 <span class="label label-primary">MIT</span> 开源协议保护</p>
        <ul class="ac_footer_links">
            <li><a href="/backend/index" title="进入后台管理">&sdot;</a></li>
            <li>当前版本 <%= config.version %></li>
            <li><a href="/signup" title="用户注册">&sdot;</a></li>
            <li><a href="https://github.com/SamHwang1990/app-case" target="_blank">GitHub仓库</a> </li>
            <li><a href="/signin" title="用户登录">&sdot;</a></li>
        </ul>
    </div>
</footer>
</body>
</html>
