<div id="ac_v_list_wrap">
    <div class="container">
        <div id="ac_v_breadcrumb">
            <p class="breadcrumb_tip">您所在的位置：</p>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>
        </div>
        <div class="ac_v_list_body">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="/public/images/student_thumbnial_180.png" alt="...">
                        <div class="caption">
                            <h3>李文琦<small>Stella</small></h3>
                            <p>这不是逗逼，很有才华的小女生一枚哦！</p>
                            <p>
                                <a href="#" class="btn btn-primary btn-sm" role="button">查看案例</a>
                                <a href="#" class="btn btn-default btn-sm" role="button">文书列表</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="/public/images/student_thumbnial_180.png" alt="...">
                        <div class="caption">
                            <h3>李文琦<small>Stella</small></h3>
                            <p>这不是逗逼，很有才华的小女生一枚哦！</p>
                            <p>
                                <a href="#" class="btn btn-primary btn-sm" role="button">查看案例</a>
                                <a href="#" class="btn btn-default btn-sm" role="button">文书列表</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="/public/images/student_thumbnial_180.png" alt="...">
                        <div class="caption">
                            <h3>李文琦<small>Stella</small></h3>
                            <p>这不是逗逼，很有才华的小女生一枚哦！</p>
                            <p>
                                <a href="#" class="btn btn-primary btn-sm" role="button">查看案例</a>
                                <a href="#" class="btn btn-default btn-sm" role="button">文书列表</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="/public/images/student_thumbnial_180.png" alt="...">
                        <div class="caption">
                            <h3>李文琦<small>Stella</small></h3>
                            <p>这不是逗逼，很有才华的小女生一枚哦！</p>
                            <p>
                                <a href="#" class="btn btn-primary btn-sm" role="button">查看案例</a>
                                <a href="#" class="btn btn-default btn-sm" role="button">文书列表</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="/public/images/student_thumbnial_180.png" alt="...">
                        <div class="caption">
                            <h3>李文琦<small>Stella</small></h3>
                            <p>这不是逗逼，很有才华的小女生一枚哦！</p>
                            <p>
                                <a href="#" class="btn btn-primary btn-sm" role="button">查看案例</a>
                                <a href="#" class="btn btn-default btn-sm" role="button">文书列表</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <ul class="ac_v_list_page pagination pagination-lg">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>