<div class="container ac_b_wrapper">
    <div class="ac_callout ac_callout_danger hidden">
        <% if (typeof(error) !== 'undefined' && error) { %>
        <p>出错：<%= error %></p>
        <% }else{ %>
        <p></p>
        <% } %>
    </div>
    <div class="ac_callout ac_callout_info hidden">
        <% if (typeof(success) !== 'undefined' && success) { %>
        <p>成功：<%= success %></p>
        <% }else{ %>
        <p></p>
        <% } %>
    </div>

    <div class="page-header">
        <h2>编辑筛选类别：<%= typeName %></h2>
    </div>

    <div class="ac_sortmgr_list" data-eduTypeId="<%= typeId %>" >
    </div>
    <br/>
    <div>
        <a type="button" class="sort_eduType_item_add btn btn-default btn-lg btn-block" data-parentId="<%= typeId %>">
            <span class="glyphicon glyphicon-plus"></span>
            添加新分类
        </a>
    </div>
</div>
<!-- js -->
<%- Loader('/public/backend/sortmgr_edit.min.js')
.js('/public/javascripts/libs/bootbox.min.js')
.js('/public/javascripts/backend/sortMgr/assert.js')
.js('/public/javascripts/backend/sortMgr/editDetail.js')
.done(assets, config.site_static_host, config.mini_assets)
%>