<div class="container ac_b_wrapper">
    <% if (typeof(error) !== 'undefined' && error) { %>
    <div class="ac_callout ac_callout_danger">
        <p>出错：<%= error %></p>
    </div>
    <% } %>
    <div class="page-header">
        <h2>筛选类别列表</h2>
    </div>
    <p><a href="/backend/SortMgr/New" class="btn btn-primary">添加</a></p>
    <% if(eduTypes.length === 0){ %>
        <h3 class="sortList_blank">筛选管理模块中无内容，请先添加数据！</h3>
    <% } else { %>
    <h3 class="sortList_blank hidden">筛选管理模块中无内容，请先添加数据！</h3>
    <ul id="sort_list_tabs" class="nav nav-tabs nav-justified" role="tablist">

        <% for(var i=0;i < eduTypes.length;i++){ %>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <%= eduTypes[i].name %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a class="eduType_show" data-id="<%= eduTypes[i]._id %>" href="#<%= eduTypes[i].slug %>" role="tab" data-toggle="tab">查看</a></li>
                <li><a class="eduType_edit" href="/backend/SortMgr/Edit/<%= eduTypes[i]._id %>">编辑</a></li>
                <li><a class="eduType_remove" href="/backend/SortMgr/Remove/<%= eduTypes[i]._id %>">删除</a></li>
            </ul>
        </li>
        <% } %>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <% for(var i=0;i < eduTypes.length;i++){ %>
        <div class="tab-pane ac_sortmgr_list" id="<%= eduTypes[i].slug %>"></div>
        <% } %>
    </div>
    <% } %>
</div>
<!-- js -->
<%- Loader('/public/backend/sortmgr_list.min.js')
.js('/public/javascripts/libs/bootbox.min.js')
.js('/public/javascripts/backend/sortMgr/list.js')
.done(assets, config.site_static_host, config.mini_assets)
%>