<div class="container ac_b_wrapper">
    <% if (typeof(error) !== 'undefined' && error) { %>
    <div class="ac_callout ac_callout_danger">
        <p>出错：<%= error %></p>
    </div>
    <% } %>
    <div class="page-header">
        <h2>筛选类别列表</h2>
    </div>
    <p><a href="/backend/SortMgr/New" class="btn btn-primary">添加</a></p>
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Home <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#home" role="tab" data-toggle="tab">查看</a></li>
                <li class="divider"></li>
                <li><a href="#">编辑</a></li>
                <li class="divider"></li>
                <li><a href="#">删除</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Profile <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#profile" role="tab" data-toggle="tab">查看</a></li>
                <li class="divider"></li>
                <li><a href="#">编辑</a></li>
                <li class="divider"></li>
                <li><a href="#">删除</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Messages <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#messages" role="tab" data-toggle="tab">查看</a></li>
                <li class="divider"></li>
                <li><a href="#">编辑</a></li>
                <li class="divider"></li>
                <li><a href="#">删除</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Settings <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#settings" role="tab" data-toggle="tab">查看</a></li>
                <li class="divider"></li>
                <li><a href="#">编辑</a></li>
                <li class="divider"></li>
                <li><a href="#">删除</a></li>
            </ul>
        </li>
        <!--<li><a href="/">添加</a></li>-->
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active ac_sortmgr_list" id="home">
            <div class="ac_sortItem">
                <div class="row">
                    <div class="col-sm-3">
                        <h3>
                            毕业学校
                            <span>就是很多很多类型,怎么滴呀!</span>
                        </h3>
                    </div>
                    <div class="col-sm-9 row">
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane ac_sortmgr_list" id="profile">
            <div class="ac_sortItem">
                <div class="row">
                    <div class="col-sm-3">
                        <h3>
                            Profile
                            <span>就是说你怎么滴！</span>
                        </h3>
                    </div>
                    <div class="col-sm-9 row">
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane ac_sortmgr_list" id="messages">
            <div class="ac_sortItem">
                <div class="row">
                    <div class="col-sm-3">
                        <h3>
                            Messages
                            <span>论程序员的自我修养！</span>
                        </h3>
                    </div>
                    <div class="col-sm-9 row">
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane ac_sortmgr_list" id="settings">
            <div class="ac_sortItem">
                <div class="row">
                    <div class="col-sm-3">
                        <h3>
                            Settings
                            <span>好想好想买好多模型啊!</span>
                        </h3>
                    </div>
                    <div class="col-sm-9 row">
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                        <div class="col-sm-6">
                            <section class="cell-row">
                                <section class="cell-row-col cell-row-description">
                                    其中一个选项
                                </section>
                                <div class="cell-row-right-arrow">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                                <a href="#" class="link-target"></a>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>