<div class="container ac_b_wrapper">
    <div class="ac_callout ac_callout_danger hidden">
        <% if (typeof(error) !== 'undefined' && error) { %>
        <p>出错：<%= error %></p>
        <% }else{ %>
        <p></p>
        <% } %>
    </div>
    <div class="ac_callout ac_callout_info hidden">
        <% if (typeof(success) !== 'undefined' && success) { %>
        <p>成功：<%= success %></p>
        <% }else{ %>
        <p></p>
        <% } %>
    </div>

    <div class="page-header">
        <h2>添加筛选类别</h2>
    </div>

    <div class="row">
        <div class="col-md-4">
            <form class="sort_eduType_editForm" action="/backend/SortMgr/NewEduType" role="form" method="post">
                <div class="form-group">
                    <label for="name">1. 留学类型中文名</label>
                    <% if(typeof(name) !== 'undefined'){ %>
                    <input type="text" class="form-control" name="name" placeholder="留学类型名" value="<%= name %>" />
                    <% }else { %>
                    <input type="text" class="form-control" name="name" placeholder="留学类型名" />
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="slug">2. 留学类型英文名</label>
                    <% if(typeof(slug) !== 'undefined'){ %>
                    <input type="text" class="form-control" name="slug" placeholder="留学类型英文名" value="<%= slug %>" />
                    <% }else { %>
                    <input type="text" class="form-control" name="slug" placeholder="留学类型英文名" />
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="description" >3. 留学类型描述</label>
                    <% if(typeof(description) !== 'undefined'){ %>
                    <input type="text" class="form-control" name="description" placeholder="留学类型描述，前台展示所用" value="<%= description %>" />
                    <% }else { %>
                    <input type="text" class="form-control" name="description" placeholder="留学类型描述，前台展示所用" />
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="remark" >4. 留学类型备注</label>
                    <% if(typeof(remark) !== 'undefined'){ %>
                    <textarea class="form-control" name="remark" placeholder="留学类型备注，管理人员所用"><%= remark %></textarea>
                    <% }else { %>
                    <textarea class="form-control" name="remark" placeholder="留学类型备注，管理人员所用"></textarea>
                    <% } %>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">保存</button>
            </form>
        </div>
    </div>
</div>
<!-- js -->
<%- Loader('/public/backend/sortmgr_new.min.js')
.js('/public/javascripts/libs/bootbox.min.js')
.js('/public/javascripts/backend/sortMgr/assert.js')
.js('/public/javascripts/backend/sortMgr/new.js')
.done(assets, config.site_static_host, config.mini_assets)
%>