<div class="container ac_b_wrapper">
    <% if (typeof(error) !== 'undefined' && error) { %>
    <div class="ac_callout ac_callout_danger">
        <p>出错：<%= error %></p>
    </div>
    <% } %>
    <% if (typeof(success) !== 'undefined' && success) { %>
    <div class="ac_callout ac_callout_info">
        <p>成功：<%= success %></p>
    </div>
    <% } %>
    <div class="page-header">
        <h2>添加筛选类别</h2>
    </div>

    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active">
            <a href="#sort_eduType_detail" data-href="#eduType_sort" role="tab" data-toggle="tab">
                留学类型分类
            </a>
        </li>
        <li>
            <a href="#sort_eduType" role="tab" data-toggle="tab">
                留学类型信息
            </a>
        </li>
    </ul>
    <div class="tab-content padding-top-2">
        <div class="tab-pane" id="sort_eduType">
            <div class="row">
                <div class="col-md-4">
                    <form role="form" method="post">
                        <div class="form-group">
                            <label for="name">1. 留学类型名</label>
                            <% if(typeof(name) !== 'undefined'){ %>
                            <input type="text" class="form-control" id="name" name="name" placeholder="留学类型名" value="<%= name %>" />
                            <% }else { %>
                            <input type="text" class="form-control" id="name" name="name" placeholder="留学类型名" />
                            <% } %>
                        </div>
                        <div class="form-group">
                            <label for="slug">2. 留学类型英文名</label>
                            <% if(typeof(slug) !== 'undefined'){ %>
                            <input type="text" class="form-control" id="slug" name="slug" placeholder="留学类型英文名" value="<%= slug %>" />
                            <% }else { %>
                            <input type="text" class="form-control" id="slug" name="slug" placeholder="留学类型英文名" />
                            <% } %>
                        </div>
                        <div class="form-group">
                            <label for="description" >3. 留学类型描述</label>
                            <% if(typeof(slug) !== 'undefined'){ %>
                            <input type="text" class="form-control" id="description" name="description" placeholder="留学类型描述，前台展示所用" value="<%= slug %>" />
                            <% }else { %>
                            <input type="text" class="form-control" id="description" name="description" placeholder="留学类型描述，前台展示所用" />
                            <% } %>
                        </div>
                        <div class="form-group">
                            <label for="remark" >4. 留学类型备注</label>
                            <% if(typeof(remark) !== 'undefined'){ %>
                            <textarea class="form-control" id="remark" name="remark" placeholder="留学类型备注，管理人员所用"><%= remark %></textarea>
                            <% }else { %>
                            <textarea class="form-control" id="remark" name="remark" placeholder="留学类型备注，管理人员所用"></textarea>
                            <% } %>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg">提交</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane active" id="sort_eduType_detail">
            <div class="ac_sortmgr_list" >
                <div class="sort_eduType_item ac_sortItem"
                     data-id="doubi"
                     data-name="毕业学校"
                     data-slug="school"
                     data-description="就是很多很多类型,怎么滴呀!"
                     data-remark="dfdf" data-grade="1">
                    <div class="row">
                        <div class="col-sm-3">
                            <h3>
                                <p class="sort_eduType_item_name">毕业学校</p>
                                <span class="sort_eduType_item_description">就是很多很多类型,怎么滴呀!</span>
                                <span>
                                    <button class="sort_eduType_item_addOption btn btn-default btn-sm" title="增加选项">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                    <button class="sort_eduType_item_edit btn btn-default btn-sm" title="修改分类">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button class="sort_eduType_item_remove btn btn-default btn-sm" title="删除分类">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </span>
                            </h3>
                        </div>
                        <div class="col-sm-9 row">
                            <div class="sort_eduType_item_option col-sm-6"
                                 data-id="doubi"
                                 data-name="其中一个选项"
                                 data-slug="hehe"
                                 data-description="2323"
                                 data-remark="dfdfdfdfdfdf" data-grade="2">
                                <section class="cell-row">
                                    <section class="sort_eduType_item_option_name cell-row-col cell-row-description">
                                        其中一个选项
                                    </section>
                                    <div class="cell-row-right-arrow">
                                        <a class="sort_eduType_item_removeOption" href="#">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                        &nbsp;
                                        <a class="sort_eduType_item_editOption" href="#">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    </div>
                                </section>
                            </div>
                            <div class="sort_eduType_item_option col-sm-6"
                                 data-id="doubi"
                                 data-name="其中一个选项"
                                 data-slug="hehe"
                                 data-description="2323"
                                 data-remark="dfdfdfdfdfdf" data-grade="2">
                                <section class="cell-row">
                                    <section class="sort_eduType_item_option_name cell-row-col cell-row-description">
                                        其中一个选项
                                    </section>
                                    <div class="cell-row-right-arrow">
                                        <a class="sort_eduType_item_removeOption">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                        &nbsp;
                                        <a class="sort_eduType_item_editOption">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <a type="button" class="sort_eduType_item_add btn btn-default btn-lg btn-block">
                        <span class="glyphicon glyphicon-plus"></span>
                        添加新分类
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- js -->
<%- Loader('/public/backend/sortmgr_new.min.js')
.js('/public/javascripts/libs/bootbox.min.js')
.js('/public/javascripts/backend/sortMgr/new.js')
.done(assets, config.site_static_host, config.mini_assets)
%>