/***********************************************
 * Created by samhwang1990@gmail.com on 14-9-18.
 * Common Module Style
 ***********************************************/

/* Common Component Module */
img
	height auto
	max-width 100%
	vertical-align middle
	border 0

/* Header Module */
#ac_header
	margin-bottom 0
	background-color #fff
	border-bottom 0

	.navbar-nav>li>a
		font-weight 500
		color darken(#c53e31,30%)

	.navbar-brand img
		height 100%





/* Footer Module */
#ac_footer
	padding-top 40px
	padding-bottom 40px
	margin-top 100px
	color #777
	text-align center
	border-top 1px solid #e5e5e5

.ac_footer_links
	padding-left 0
	margin-top 20px
	color #999

	li
		display inline
		padding 0 2px

		&:first-child
			padding-left 0