<style>
    .imageBox
    {
        position: relative;
        height: 150px;
        width: 200px;
        border:1px solid #aaa;
        background: #fff;
        overflow: hidden;
        background-repeat: no-repeat;
        cursor:move;
    }

    .imageBox .thumbBox
    {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 180px;
        height: 128px;
        margin-top: 11px;
        margin-left: 10px;
        box-sizing: border-box;
        /*border: 1px solid rgb(102, 102, 102);*/
        box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
        background: none repeat scroll 0% 0% transparent;
    }

    .imageBox .spinner
    {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        line-height: 128px;
        background: rgba(0,0,0,0.7);
    }

    .cropped{
        margin-top: 10px;
    }
    .cropped>img
    {
        margin-right: 10px;
        margin-left: 10px;
    }
</style>
<div class="container ac_b_wrapper">
    <% if (typeof(error) !== 'undefined' && error) { %>
    <div class="ac_callout ac_callout_danger">
        <p>出错：<%= error %></p>
    </div>
    <% } %>
    <div class="row">
        <div class="col-md-4">
            <h2>
                编辑学生信息：
            </h2>
            <form role="form" method="post">
                <div class="form-group">

                    <label for="email" class="sr-only">学生邮箱</label>
                    <% if(typeof(email) !== 'undefined'){ %>
                    <input type="email" class="form-control" name="email" placeholder="请输入学生邮箱" value="<%= email %>">
                    <% } else { %>
                    <input type="email" class="form-control" name="email" placeholder="请输入学生邮箱">
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="name" class="sr-only">中文名</label>
                    <% if(typeof(name) !== 'undefined'){ %>
                    <input type="text" class="form-control" name="name" placeholder="中文名" value="<%= name %>">
                    <% }else { %>
                    <input type="text" class="form-control" name="name" placeholder="中文名">
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="name_en" class="sr-only">英文名</label>
                    <% if(typeof(name_en) !== 'undefined'){ %>
                    <input type="text" class="form-control" name="name_en" placeholder="英文名" value="<%= name_en %>">
                    <% }else { %>
                    <input type="text" class="form-control" name="name_en" placeholder="英文名">
                    <% } %>
                </div>
                <div class="checkbox">
                    <label>
                        <% if(typeof(is_block) !== 'undefined' && is_block == true) { %>
                        <input type="checkbox" name="is_block" checked >
                        <% } else { %>
                        <input type="checkbox" name="is_block">
                        <% } %>
                        是否禁用
                    </label>
                </div>
                <div class="form-group">
                    <label for="remark" class="sr-only">学生备注</label>
                    <% if(typeof(remark) !== 'undefined'){ %>
                    <textarea class="form-control" name="remark" placeholder="学生备注"><%= remark %></textarea>
                    <% }else { %>
                    <textarea class="form-control" name="remark" placeholder="学生备注"></textarea>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="profile_image_file" >学生个人照上传：</label>
                    <div class="row">
                        <div class="col-xs-8">
                            <input type="file" id="profile_image_file">
                        </div>
                        <div class="col-xs-4 row">
                            <div class="col-xs-4">
                                <button type="button" id="btnZoomIn" class="btn btn-sm btn-default">+</button>
                            </div>
                            <div class="col-xs-4">
                                <button type="button" id="btnZoomOut" class="btn btn-sm btn-default">-</button>
                            </div>
                            <div class="col-xs-4">
                                <button type="button" id="btnCrop" class="btn btn-sm btn-default">crop</button>
                            </div>
                        </div>
                    </div>
                    <div class="help-block">
                        <div class="imageBox">
                            <div class="thumbBox"></div>
                            <div class="spinner" style="display: none">Loading...</div>
                        </div>
                        <div class="cropped">
                            <% if(profileImg !== null && typeof(profileImg) !== 'undefined' && profileImg !== ''){ %>
                            <img src="<%= profileImg %>" />
                            <% } %>
                        </div>
                        <% if(typeof(profileImg) !== 'undefined'){ %>
                        <input type="hidden" id="profileImg" name="profileImg" value="<%= profileImg %>"/>
                        <% }else { %>
                        <input type="hidden" id="profileImg" name="profileImg" value=""/>
                        <% } %>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">提交</button>
            </form>
        </div>
    </div>
</div>
<!-- js -->
<%- Loader('/public/backend/studentmgr_new.min.js')
.js('/public/javascripts/libs/cropbox.js')
.js('/public/javascripts/backend/studentMgr/new.js')
.done(assets, config.site_static_host, config.mini_assets)
%>