/***********************************************
 * Created by samhwang1990@gmail.com on 14-9-18.
 ***********************************************/

/* gradient */
linear_gradient_vertical(beginColor, endColor)
	background-image: -webkit-gradient(linear,left top,left bottom,from(beginColor),to(endColor));
	background-image: -webkit-linear-gradient(top,beginColor 0,endColor 100%);
	background-image: -o-linear-gradient(top,beginColor 0,endColor 100%);
	background-image: linear-gradient(to bottom,beginColor 0,endColor 100%);
