/***********************************************
 * Created by samhwang1990@gmail.com on 14-9-18.
 ***********************************************/

pad4(t,r,b,l)
	padding t r b l

.navbar .navbar-brand
	pad4(0px,25px,0px,20px)

.row
	& .row
		margin-left 0
		margin-right 0

[class*='col-xs-']
	& [class*='col-xs-']
		padding-left 0
		padding-right 0

.breadcrumb
	margin-bottom 0px
