/***********************************************
 * Created by samhwang1990@gmail.com on 14-9-19.
 * Responsive stylus
 ***********************************************/
@media all and (max-width:767px)
	/* ac_index responsive start */
	#ac_index_content
		.ac_sortItem
			&:nth-of-type(2n)
				background-color #dd4b39
				h3
					color #fff
					span
						color #fff

	/* ac_index responsive end */

	/* ac_resume responsive start */
	.resume_list
		h2
			text-align center
	/* ac_resume responsive end */


@media all and (min-width: 768px)
	/* ac_index responsive start */

	.ac_jumbotron
		padding-top 60px
		padding-bottom 60px
		font-size 24px
		text-align left

		h1
			font-size 60px
			line-height 1

		p
			font-size 24px

	.resume_list
		padding-top 60px
		padding-bottom 60px
		text-align left

		h2
			font-size 40px
			font-weight 800
			line-height 1
			margin-bottom 30px

	/* ac_index responsive end */


@media all and (min-width: 992px)
	/* ac_index responsive start */

	.ac_jumbotron
		h1
		p
			margin-right 380px

	#ac_index_content

		.ac_sortItem
			&>.container
				padding-left 30px
				padding-right 30px


	/* ac_index responsive start */